<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> Upload csv file</h1>
<form method="POST" th:action="@{/upload-csv}" enctype="multipart/form-data">
    <div class="form-group mt-3">
        <label for="file">Select a CSV file</label>
        Jaka gra:  <input type="text" name="gamename" id="gamename"><br>
        offline czy online?  <input type="text" name="tournamentType" id="tournamentType"><br>
        Daj plik CSV:  <input type="file" name="file" class="form-control-file" id="file" accept=".csv"><br>
        Daj nazwe turniejuf: <input type="text" name="name" id="name"><br>


    </div>
    <button type="submit" class="btn btn-primary">Import Users</button>
</form>

</body>
</html>